.App {
  text-align: center;
  padding: 20px;
}

.items-title {
  background-color: brown;
  color: aliceblue;
  font-size: 30px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px;
  font-weight: 800;
}

.order-item {
  background-color: royalblue;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.picked {
  font-size: 30px;
  color: aquamarine;
  width: fit-content;
  font-weight: 700;
}

.order-id {
  margin-left: 10%;
  margin-top: 15px;
  font-size: 15px;
  color: white;
}

.paid {
  background-color: gold;
  color: white;
  padding: 2px 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.order-info {
  color: white;
}

.total-amount {
  font-size: 20px;
  color: white;
  font-weight: 900;
}

.detail {
  text-align: center;
  padding: 20px;
}

.paid-detail {
  border: 1px solid black;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}